body {
    background-image: url('../imgs/FONDO/fondo-contramas-bl.png');
    background-size: 100%;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    transition: opacity 1s, background-color 1s, filter 1s
}
.container {
    position: relative;
}

.fade-out {
    opacity: 0;
    background-color: #000; /* Cambia el color de fondo a negro durante la transición */
    filter: blur(10px); /* Añade un desenfoque durante la transición */
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-touch {
    z-index: 1; /* Asegúrate de que el botón esté por encima de la imagen de fondo */
    width: 90; /* Ajusta el tamaño del botón según tus necesidades */
    height: auto;
}
.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Envía la imagen de fondo al fondo */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 30px;
}

.logo{
    height: 40px; /* Ajusta la altura de la imagen según sea necesario */
}

.navbar {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar li {
   display: inline;
}

.navbar a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    transition: background-color 0.3s, border-color 0.3s;
}

.navbar a:hover {
    background-color: #f0f0f0;
    border-color: #999;
}

h2 {
    color: rgb(82, 81, 81);
    text-align: center;
    margin-top: 11%;
    font-size: 60px;
    
}
.servicios {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-left: 90px;

}
.servicio-item {
    position: relative;
    width: 45%;
    margin: 10px 0;
    text-align: center;
}
.servicio-item img {
    width: 70%;
    height: auto;
    display: flex;

}
.text-overlay {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color según necesites */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra para mejor visibilidad */
}
.subtitulos {
    margin-top: 30%;
    font-size: 20px; /* Ajusta el tamaño según necesites */
    font-weight: bold;
}
.info {
    margin-top: 10px;
    font-size: 20px; /* Ajusta el tamaño según necesites */
}
.equipo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}
.miembro {
    text-align: center;
    margin: 10px;
}
.miembro img {
    width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 150px;
    display: block;
    margin: 0 auto;
}
.guada img, .juani img, .yas img {
    margin-top: 90px;
}
.nombres {
    color: grey;
    margin-top: 5px;
    font-size: 30px; /* Ajusta el tamaño según tus necesidades */
    font-weight: bold;
}